/* Style of Top Tab (Which contains File Button and Project Name) */
.topTab {
    height: 30px;
    width: 100%;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Project Name Style */
.projectName {
    font-family: 'Poppins';
    font-weight: 300;
    margin: 0 15px;
}

/* Add a new File Button Style */
.addFileButton {
    margin-right: 10px;
    font-size: 12px;
}

.addFileButton:hover {
    color: #FF79C6;
}