.fileContainer {
    height: 20px;
    width: 90.1%;
    padding: 5px 5%;
    font-family: 'Poppins';
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    border-right: none !important;
}
.fileContainer:hover {
    cursor: pointer;
}