.editorTerminalContainar {
    width: 55%;
    height: 100vh;
    border-right: 1px solid #BD93F9;
}

.explorerContainer {
    width:15%;
    height:100vh;
    border-right: 1px solid #BD93F9;
}

.outputContainer {
    width: 30%;
    height: 100vh;
}

.xTerm {
   display: flex;
}